<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chenfei.cfgo.study.web.mapper.study.StudentMapper">

    <resultMap id="BaseResultMap" type="com.chenfei.cfgo.study.web.entity.study.Student">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="sex" column="sex" jdbcType="INTEGER"/>
            <result property="age" column="age" jdbcType="INTEGER"/>
            <result property="grade" column="grade" jdbcType="INTEGER"/>
            <result property="classGrade" column="class_grade" jdbcType="INTEGER"/>
            <result property="homeAddress" column="home_address" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,sex,
        age,grade,class_grade,
        home_address
    </sql>
</mapper>
